@{
    ViewData["Title"] = "Dropdown Example";
}

<h1>Dropdown Example</h1>

<form id="personForm">
    <label for="peopleDropdown">Select a person:</label>
    @Html.DropDownList("personDropdown", (SelectList)ViewBag.PeopleList, "Choose...", new { @class = "form-control" })
</form>

<div id="personInfoContainer" class="mt-3"></div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#personDropdown').change(function () {
                var selectedPersonId = $(this).val();
                if (selectedPersonId) {
                    $.ajax({
                        url: '@Url.Action("DisplayInfo", "Home")',
                        type: 'POST',
                        data: { personId: selectedPersonId },
                        success: function (result) {
                            $('#personInfoContainer').html(result);
                        }
                    });
                } else {
                    $('#personInfoContainer').empty();
                }
            });
        });
    </script>
}
